#root.home {
	display: flex;
    padding: 0 5em;

    h2{

    }

    .grid-container{
        flex-grow: 1;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        place-items: center;
    }

    .grid-item{
        justify-content: center;
    }

}