#root.memory {
	padding: 0 4em;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	
	.cards-container {
		display: flex;
		justify-content: center;
		gap: 2em;
		flex-wrap: wrap;

		.card {
			&.flipped {
				background-color: green;
			}
		}
	}

	.commands-container {
		padding: 3em 0;
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 1em 0;
		
		.command-item {
			flex: 0 0 50%;
			display: flex;
			justify-content: center;
			
			&.rounds-counter {

			}
			
			&.shuffle-wrapper {

			}
		}
	}
}